.content {
  position: relative;
}

.text span {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@media screen and (max-width: 600px) {
  .content h1{
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) {
  .content h1{
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  .content h1{
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .content h1{
    font-size: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .content h1{
    font-size: 34px;
  }
}